#-og-invite-people-new-users-form .form-item-roles, #-og-invite-people-new-users-form .form-type-select {
	display: none;
}


.view-usine-user-termination {
	margin: 25px 0;
}

#views-form-usine-user-termination-entity-view-1 {
        text-align: center;
	padding: 0 25px;
}

.view-usine-user-termination fieldset {
        border: none;
}


#views-form-usine-user-termination-entity-view-1 div { 
	padding-bottom: 5px; 
}

.view-usine-user-termination legend {
	display : none;
}

.view-usine-user-termination table {
	display: none;
}
